<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bobslittlefreelibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.books.EditBookActivity"></activity>
        <activity android:name=".views.requests.ReceivedRequestActivity" />
        <activity android:name=".views.requests.SentRequestActivity" />
        <activity android:name=".views.SearchActivity" />
        <activity android:name=".views.books.AddBookActivity" />
        <activity android:name=".views.templates.SomeAssetsActivity" />
        <activity android:name=".views.templates.BlankTemplateActivity" />
        <activity android:name=".views.templates.FormTemplateActivity" />
        <activity android:name=".views.users.SignupActivity" />
        <activity android:name=".views.users.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.MainActivity"/>
        <activity android:name=".views.books.MyBookViewActivity" />
        <activity android:name=".views.books.PublicBookViewActivity" />
        <activity android:name=".views.users.MyProfileViewActivity" />
        <activity android:name=".views.users.PublicProfileViewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>